body {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 0 0 10px black;
  font-family: sans-serif;
}

header {
  border-bottom: 4px solid steelblue;
  background: linear-gradient(white, lightsteelblue);
  padding: 1em;
}

header img {
  width: 100%;
  max-width: 140px;
  min-width: 70px;
  height: auto;
}

#headingSU {
  font-family: sans-serif;
  color: pink;
}

h1 {
  color: white;
  text-align: center;
}

h1, h2, h3, p, blockquote {
  font-size: 1em;
}

p {
  font-family: verdana;
}

blockquote {
  font-family: sans-serif;
  margin-left: 3rem;
  font-size: 110%;
}

main {
  padding: 1em;
}

aside {
  float: left;
  width: 245px;
  padding: 1em;
}

aside h2 {
  color: maroon;
}

aside ul {
  padding-left: 0;
}

aside ul li a {
  text-decoration: none;
}

section {
  margin-left: 260px;
  padding: 1em;
}

nav ul.menu {
  list-style: none;
  background: steelblue;
  padding: 0;
  margin: 0;
}

nav ul.menu > li {
  display: inline-block;
  position: relative;
}

nav ul.menu a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

nav ul.menu a.current {
  color: black;
}

nav ul.menu a:hover,
nav ul.menu a:focus {
  background: lightsteelblue;
}

nav ul.submenu {
  display: none;
  position: absolute;
  background: steelblue;
  list-style: none;
  padding: 0;
}

nav ul.menu li:hover ul.submenu {
  display: block;
}

footer {
  clear: both;
  background-color: steelblue;
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
}

@media screen and (max-width: 900px) {
  body {
    box-shadow: none;
  }

  h1, h2, h3, p, blockquote, li, a {
    font-size: 90%;
  }
}

@media screen and (max-width: 767px) {
  nav ul.menu {
    display: none;
  }

  .slicknav_menu {
    display: block;
  }
}

.slicknav_menu {
  display: none;
}
