body {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 0 10px black;
    font-family: sans-serif;
}

header {
    border-bottom: 4px solid steelblue;
    background: linear-gradient(white, lightsteelblue);
    padding: 1em;
}

header img {
    float: left;
    max-width: 140px;
    min-width: 70px;
    height: auto;
    margin-right: 1em;
}

header h1 {
    color: steelblue;
    font-style: italic;
    text-shadow: 1px 1px steelblue;
    margin-left: 160px;
}

header h2 {
    margin-left: 160px;
}

nav ul.menu {
    list-style: none;
    background: steelblue;
    padding: 0;
    margin: 0;
}

nav ul.menu > li {
    display: inline-block;
    position: relative;
}

nav ul.menu a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav ul.menu a.current {
    color: black;
}

nav ul.menu a:hover,
nav ul.menu a:focus {
    background: lightsteelblue;
}

nav ul.submenu {
    display: none;
    position: absolute;
    background: steelblue;
    list-style: none;
    padding: 0;
}

nav ul.menu li:hover ul.submenu {
    display: block;
}

aside {
    float: left;
    width: 245px;
    padding: 1em;
}

aside h2 {
    color: maroon;
}

aside ul {
    padding-left: 0;
}

aside ul li {
    margin-bottom: 0.5em;
}

aside ul li a {
    font-weight: bold;
    color: steelblue;
    text-decoration: none;
}

aside ul li a:hover {
    color: maroon;
}

section {
    margin-left: 260px;
    padding: 1em;
}

section h3 {
    color: maroon;
}

section h3:hover {
    color: steelblue;
}

blockquote {
    margin-left: 2em;
    font-size: 110%;
}

footer {
    clear: both;
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
}

@media screen and (max-width: 900px) {
    body {
        box-shadow: none;
    }

    h1, h2, h3, p, blockquote, li, a {
        font-size: 90%;
    }
}

@media screen and (max-width: 767px) {
    nav ul.menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

.slicknav_menu {
    display: none;
}
